* {  /* the * selector means it will apply to all the elements on the page.*/
  box-sizing: border-box; 
  
}

:focus { /*selector will target elements currently being used like input if it is clicked. */
 /* TODO */
 border-color: #00f;
 box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

body { /*selector targets entire body of the page so change background color, font and margins. */
  /* TODO */
  background: yellow;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    
}

input { /*selector targets the input element so it can change text color and border adn padding of it. */
 /* TODO */
  border: 0 none;
}

.search-container { /*selector targets the whole search box w/ drop list. aim to center in middle of page. */
 /* TODO */
 width: 400px; /* Set your desired width */
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Move the container 50% down from the top */
  left: 50%; /* Move the container 50% from the left */
  transform: translate(-50%, -50%);
}


.search-container input,
.search-container .suggestions {
  /* TODO */
  width: 100%;
  text-align: left;
}


.search-container input {
 /* TODO */
 background: rgba(255,255,255,0.2);
 height: 60px;
 padding: 0 10px;
}
.search-container .suggestions {
  position: absolute;
  top: 60px;
}


ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  max-height: 200px;
  overflow-y: auto;

}

ul.has-suggestions {
  display:block;
}


ul li {
  /* TODO */
  padding: 10px;
  background:rgba(255, 255, 255, 0.263);
  cursor: pointer;
}

ul li:hover {
  /* TODO */
  background-color:#bff60c;
}

